# Environment variables
**/.env
.env

# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info
.Python
venv/
env/
*.pyc

# Node.js
node_modules/
package-lock.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo